# Dependencies
node_modules/

# Env files
.env
.env.local
.env.*.local

# Build artifacts
dist/
build/
.next/
out/

# other
host.md

# Prisma
backend/prisma/dev.db
backend/prisma/dev.db-journal

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

#plans
emailplan.md
